<h1>Edit Post</h1>

<%= form_for [:admin, @post] do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-primary" %>
    <%= link_to "Cancel", admin_posts_path %>
  </div>
<% end %>
