<h1>Admin Post List</h1>

<p class="text-right">
<%= link_to "New Post", new_admin_post_path, :class => "btn btn-primary" %>
</p>

<table class="table">
<tr>
  <th>Post Name</th>
  <th>Actions</th>
</tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.name, admin_post_path(post) %></td>
    <td>
      <%= link_to "Edit", edit_admin_post_path(post), :class => "btn btn-default" %>
      <%= link_to "Delete", admin_post_path(post), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
  </tr>
<% end %>
</table>
