
<%= form_for @post, url: posts_path do |f| %> 
  <% @post.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= f.submit 'Create', class: "btn btn-block btn-primary" %>
<% end %>
